/*HEADER*/
@font-face {
    font-family:'Verdana', sans-serif;
    src: url("../fonts/verdana.ttf");
}

.body-bg {
    background: url("../images/image-backgr.png") no-repeat fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin: 0;
}
.opacity-head{
    background-color: rgba(0, 0, 0, 0.4);
    height: 56px;
    position: relative;
}
.logo {
    font-family: verdana, sans-serif;
    font-size: 20px;
    color: #ffffff;
    float: left;
    text-decoration: none;
    font-weight: 700;
}
.logo:hover {
    color: rgba(60, 184, 120, 255);
}
.header-login {
    font-family: "verdana", sans-serif;
    height: 56px;
    float: right;
    margin-left: -40px;
}
.right-box {
    font-family: verdana, sans-serif;
    display: flex;
    line-height: 21px;
    float: right;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}
.login, .sing-up{
    color: #3CB878 ;
}
.border-left::before {
    content: '';
    width: 0;
    height: 80%;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    top: 0;
    opacity: 0.3;
    margin-right: 15px;
}
.header-box {
    margin: 0 auto;
    width: 90%;
    padding-top: 15px;
}
.conteiner {
    min-height: calc(100vh - 56px );
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteinerLogBox {
    font-family: 'Verdana', sans-serif;
    position: relative;
    padding: 20px 60px;
}
/*Menu sprites*/
.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    float: right;
    margin-right: 19px;
}

.sprite-ic_caledar {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-ic_caledar:hover {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}

.sprite-ic_forum {
    width: 28px;
    height: 20px;
    background-position: -5px -34px;
}

.sprite-ic_forum:hover {
    width: 28px;
    height: 20px;
    background-position: -43px -34px;
}

.sprite-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -81px -5px;
}

.sprite-ic_journey:hover {
    width: 20px;
    height: 20px;
    background-position: -81px -35px;
}
/*END Sprites and HEADER*/
/*LOGIN BOX*/
.login-box {
    width: 444px;
    height: 584px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    display: flex;
}
.singInBox {
    float: left;
    position: relative;
    color: #434343;
    font-family: verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    /*top: 29px;*/
}
.singInBox::before {
    content: "";
    background: #3CB878;
    float: left;
    top: 3px;
    height: 18px;
    width: 18px;
    margin-left: -60px;
    position: absolute;
}
.logInBox {
    text-decoration: none;
    float: right;
    position: relative;
    color: #3CB878;
    font-family: verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    /*top: 29px;*/
}
a.logInBox:hover {
    text-decoration: underline;
}
/*button*/
.socialButton {
    display: inline-block;
}
.facebookBTN {
    cursor: pointer;
    font-family: verdana, sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
    float: left;
    width: 157px;
    height: 46px;
    background-color: #264b96;
    color: #ffffff;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #305db8;
}

.facebookBTN::before {
    content: '';
    width: 0;
    height: 28px;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    top: 0;
    opacity: 0.1;
    margin-right: 18px;
}
.facebookBTN:hover {
    background-color: #305db8;
}
.googleBTN {
    cursor: pointer;
    font-family: verdana, sans-serif;
    float: left;
    text-align: center;
    margin-top: 15px;
    width: 157px;
    height: 46px;
    background-color: #c3412c;
    color: #ffffff;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #c3412c;
}
.googleBTN::before {
    content: '';
    width: 0;
    height: 28px;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    top: 0;
    opacity: 0.1;
    margin-right: 18px;
    background: url('../images/soc-buttoms.png') -10px -10px;
}
.googleBTN:hover {
    background-color: #df4a32;
}
.socialButtom{
    display: inline-block;
}
.fa-facebook-f, .fa-google-plus-g {
    float: left;
    font-size: 20px;
    padding-left: 10px;
}
/*button end*/
.line-or {
    display: flex;
    color: #848484;
    width: 324px;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.line-or:before,
.line-or:after {
    content: "";
    border-top: 1px solid #eaeaea;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
.line-or:after {
    margin: 0 0 0 20px;
}
.clearfix::after {
    display: table;
    clear: both;
    content: "";
}
.inputData {
    font-family: 'Verdana', sans-serif;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    width: 299px;
    height: 46px;
    margin-bottom: 12px;
    padding-left: 19px;
    color: #848484;
}
.createBTN {
    width: 322px;
    height: 46px;
    background-color: #329a65;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    margin-top: 22px;
}
.checkLine {
    text-decoration: none;
    font-size: 14px;
    color: #3CB878;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    box-shadow: 0.5px 3px 6px 3px rgba(132, 132, 132, 0.3);
    outline: none;
    font-weight: bold;
}
input[type="checkbox"] {
    display: none;
}
input[type=checkbox]:checked + .designCheckBox::before {
    content: "\2713";
    font-size: 18px;
    font-weight: bold;
}
label {
    font-family: 'Verdana', sans-serif;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
}

.designCheckBox:before {
    content: " ";
    display: inline-block;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    border-image: initial;
    vertical-align: middle;
    color: #3CB878;
}